
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

$font-family-base: 'Roboto', sans-serif;

$secondary:     #6E6E6E;

$dark: #0e0e0e;

@import "../node_modules/bootstrap/scss/bootstrap";

